.aside {
    background-color: white;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    box-shadow: 5px 5px 8px black;
}

.header {
    background-color: salmon;
    width: 20%;
    height: 75px;
    border-bottom: 3px solid black;
    z-index: 1;
    position: fixed;
    overflow: hidden;
}

p {
    margin: auto;
    color: white;
    text-align: center;
    padding: 25px 0;
}

.matches {
    margin-top: 75px;
}